<div>
    <mat-toolbar>
        <span>
            <a routerLink="/" style="text-decoration: none; color: inherit;">Viswa Venkatesan</a>
        </span>
        </mat-toolbar>
</div>

<div class="about-container">
    <!-- Left Side: Image -->
    <div class="about-image">
        <img src="https://fastly.picsum.photos/id/9/5000/3269.jpg?hmac=cZKbaLeduq7rNB8X-bigYO8bvPIWtT-mh8GRXtU3vPc" alt="About Image">
    </div>

    <!-- Right Side: About Content -->
    <div class="about-content">
      <h2>About Me</h2>
      <p>
        Hi, I'm Viswa Venkatesan, a passionate web developer. I love building
        dynamic and user-friendly web applications using Angular.
      </p>
      <p>
        With expertise in front-end technologies and UI/UX design, I bring ideas to life!
      </p>
    </div>
  </div>