################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.Net/MyPortfolio/.vs/MyPortfolio
/.Net/.vs
